<style>
    .maincontainer{
      display: flex;
      justify-content: center;
      padding-top: 10px;
      background: #30336b;
      height: 100vh;
    
    }
    .root{
    width: 1300px;
    height: auto;
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    }
    .gap{
    
    margin-top: 40px;
    }
    .heading{
    color: #4834d4;
    
    font-size: 35px;
    font-weight: bold;
    font-family: Syne Mono;
    
    display: flex;
    justify-content: center;
    padding: 5px;
    
    
    }
    
    </style>
    
    <html>
    <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="maincontainer">
<div class="root">
    <div class="heading">
        <span><img src="/images/airjet1.png" width="150" ></span> &nbsp;&nbsp; Flight Enquiry System
      </div>
      <hr>
    <table class="striped">
       
        <thead>
          <tr>
              <th>Flight ID</th>
              <th>Company Name</th>
              <th>Source</th>
              <th>Destination</th>
             <th>Type</th>
             <th>Class</th>
             <th>Days</th>
             <th>Update</th>
          </tr>
        </thead>

        <tbody>
<% data.map((item)=>{ %>

          <tr>
            <td><%=item.flightid%></td>
            <th><%=item.companyname %> <br>
              <a href="/flight/showpicture?flightid=<%=item.flightid%>&companyname=<%=item.companyname %>&logo=<%=item.logo%>">
            <img src="/images/<%=item.logo%>" width="40">
              </a>
          </th>
            <td><%=item.sc %> <br><%=item.sourcetiming %> </td>
            <td><%=item.dc %> <br> <%=item.destinationtiming %> </td>
            <td><%=item.status %></td>
            <td><%=item.flightclass %></td>
            <td><%=item.days %></td>
            <td><a href="/flight/displaybyid?flightid=<%=item.flightid %>">Update</a></td>
            </a>
            
          </tr>
          <% }) %>
        
        </tbody>
      </table>


</div>
</div>
<html>
  <head>









