<style>
    .maincontainer{
      display: flex;
      justify-content: center;
      padding-top: 10px;
      background: #30336b;
      height: 100vh;
    
    }
    .root{
    width: 1300px;
    height: auto;
    background: #fff;
    
    padding: 10px;
    }
    .gap{
    
    margin-top: 40px;
    }
    .heading{
    color: #4834d4;
    
    font-size: 35px;
    font-weight: bold;
    font-family: Syne Mono;
    
    display: flex;
    justify-content: center;
    padding: 5px;
    
    
    }
    
    </style>
    
    <html>
    <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js "></script>  
          <script src="/javascripts/project.js"></script>
          <script>
       $(document).ready(function(){
    $('select').formSelect();
  });

  
  $(document).ready(function(){
    $('.timepicker').timepicker();
  });
          </script>
    </head>
    <body>
      <form action="/flight/editdeleterecord" method="post" >
      <div class="maincontainer">
       <div class="root">
        <div class="heading">
          <span><img src="/images/airjet1.png" width="150" ></span> &nbsp;&nbsp; Flight Enquiry System
        </div>
        <div class="row">
            <div class="col s6">
                <div class="input-field ">
                    <i class="material-icons prefix">airplanemode_active</i>
                    <input id="icon_fid" name="flightid" value="<%=data.flightid %>" type="text" readonly="true" class="validate">
                    <label for="icon_fid">Flight id</label>
                  </div>

                </div>
                    <div class="col s6">
                        <div class="input-field ">
                            <i class="material-icons prefix">business</i>
                            <input id="icon_com" name="companyname" value="<%=data.companyname %>" type="text" class="validate">
                            <label for="icon_com">Company Name </label>
                          </div>
        
                        </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                              <div class="input-field">
                                <i class="material-icons prefix">flight_takeoff</i>
                                <select name="sourcestate" id="sourcestate">
                                <option value="<%=data.sourcestateid %>"  selected><%=data.ss %></option>
                                  
                                
                                </select>
                                <label>sourcestate</label>
                              </div>
                
                                </div>
                                <div class="col s3">
                                  <div class="input-field">
                                    <i class="material-icons prefix">flight_takeoff</i>
                                    <select name="sourcecity" id="sourcecity">
                                    <option value="<%=data.sourcecityid %>"  selected><%=data.sc %></option>
                                      
                                    
                                    </select>
                                    <label>sourcecity</label>
                                  </div>
                    
                                    </div>
                                    
                                
    
                 
                <div class="col s3">
                <div class="input-field ">
               <i class="material-icons prefix">flight_land</i>
               <select name="destinationstate" id="destinationstate">
                <option value="<%=data.destinationstateid %>" selected><%=data.ds %></option>
                  
                
                </select>
                <label>destinationstate</label>
           
           </div>             
        </div>
            <div class="col s3">
            <div class="input-field ">
           <i class="material-icons prefix">flight_land</i>
           <select name="destinationcity" id="destinationcity">
            <option value="<%=data.destinationcityid %>"  selected><%=data.dc %></option>
          
              
            
            </select>
            <label>destinationcity</label>
                            
     </div>
                                            
       </div>
       <div class="row">
        <div class="col s3">
  <div class="input-field col s12">
    <select name="status">
      <option  selected><%=data.status %></option>
      <option >Non stop</option>
      <option >with stop</option>
    
    </select>
    <label>Status</label>
  </div>
       </div>
       <% var tclass=data.flightclass.split('#')
         var ts=['','','']
         for(i=0;i<tclass.length;i++)
         { if(tclass[i]=='business')
         { ts[0]='checked'}
         if(tclass[i]=="economy")
         { ts[1]='checked'}
         if(tclass[i]=="executive")
         { ts[2]='checked'}
      
      }

       %>
       <div class="col s3" style="display: flex; flex-direction: row;justify-content:space-around ;">
        
        <p>
          <label>
            <input name="fclass" value="business"  type="checkbox"  <%= ts[0] %> />
            <span>Business</span>
          </label>
        </p>
       
        <p>
          <label>
            <input name="fclass" value="economy" type="checkbox" <%= ts[1] %> />
            <span>Economy</span>
          </label>
        </p>
        <p>
          <label>
            <input name="fclass" value="executive"  type="checkbox" <%= ts[2] %> />
            <span>Executive</span>
          </label>
        </p>


      </div>
      <div class="col s3">
        <div class="input-field ">
          <i class="material-icons prefix">access_time</i>
          <input id="icon_sourcetime" value="<%=data.sourcetiming %>" name="sourcetime" type="text" class="timepicker">
          <label for="icon_sourcetime">source timing </label>
        </div>
      </div>
        <div class="col s3">
          <div class="input-field ">
            <i class="material-icons prefix">access_time</i>
            <input id="icon_destime" value="<%=data.destinationtiming %>" name="destime" type="text" class="timepicker">
            <label for="icon_destime">destination timing </label>
          </div>
       </div>
       </div>
      
         
         
          
          
          <div class="row">
            <div class="col s12" style="display: flex; flex-direction: row;justify-content:space-around ;">
              <p>
                <label>
                  <input name="days" value="sunday" type="checkbox" <%=data.days.includes('sunday')?'checked':'' %> />
                  <span>Sunday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="Monday"  type="checkbox" <%=data.days.includes('Monday')?'checked':'' %> />
                  <span>Monday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="tuesday"  type="checkbox" <%=data.days.includes('tuesday')?'checked':'' %> />
                  <span>Tuesday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="wednesday"  type="checkbox" <%=data.days.includes('wednesday')?'checked':'' %> />
                  <span>Wednesday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="thursday" type="checkbox" <%=data.days.includes('thursday')?'checked':'' %> />
                  <span>Thursday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="friday"  type="checkbox" <%=data.days.includes('friday')?'checked':'' %> />
                  <span>Friday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="saturday" type="checkbox" <%=data.days.includes('saturday')?'checked':'' %> />
                  <span>Saturday</span>
                </label>
              </p>
            
            </div>
            </div>
           


              <div class="row">
                <div class="col s6" style="display: flex; justify-content: center;">
              
  <button class="btn waves-effect waves-light" type="submit" name="btn" value="edit">Edit
    <i class="material-icons right">send</i>
  </button>
  </div>
  

  <div class="col s6" style="display: flex; justify-content: center;">
              
    <button class="btn waves-effect waves-light" type="submit" name="btn" value="delete">Delete
      <i class="material-icons right">remove</i>
    </button>
    </div>
  </div>

    </div> 
    </div>
  </form>
     
    </body>
    
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    </html>
    
    